// FONTS
$f-pop: "Poppins", sans-serif;
$f-fja: "Fjalla one", sans-serif;

//COLORS
$black: #222327;
$white: #fff;
$green: #75dab4;
$grey: #8a8a8a;

// STYLES
$border: 0.3px solid;
$borderRadius: 3px;
$paddingTitle: 0.5rem;

/* FONT WEIGHT */
$Light: 200;
$Regular: 400;
$SemiBold: 600;
$ExtraBold: 800;
