@charset "UTF-8";
/* Road-Rage fonts */
@font-face {
  font-family: "Road Rage";
  src: url("../fonts/Road_Rage.otf") format("otf");
}
/* Roboto Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Black.ttf") format("ttf");
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  src: url("../fonts/Roboto-Italic.ttf") format("ttf");
  src: url("../fonts/Roboto-Light.ttf") format("ttf");
  src: url("../fonts/Roboto-Medium.ttf") format("ttf");
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
  src: url("../fonts/Roboto-Thin.ttf") format("ttf");
}
/* Custom colors */
/* Custom styling */
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html * {
  font-family: "Roboto", "sans-sérif";
}

/* NAVBAR */
.nav-logo {
  font-family: "Road Rage";
}

/* HEADER */
.header-section {
  height: 100vh;
  width: 100%;
  position: relative;
}
.header-section__banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.header-section__banner img {
  content: "";
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header-section ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #3f005b;
  opacity: 0.16;
  z-index: -1;
}
.header-section__main {
  height: 100%;
}
.header-section__main h1,
.header-section__main h2 {
  font-family: "Road Rage";
  color: #fff;
}
.header-section__main h1 {
  font-size: 6rem;
}
.header-section__main h2 {
  font-size: 3rem;
}
.header-section__main h2:nth-child(3) {
  font-size: 2.5rem;
}

/* ABOUT */
.about-section {
  padding-bottom: 5rem;
}
.about-section__profil img {
  max-width: 10rem;
  max-height: 10rem;
}
.about-section__profil h3 {
  color: #3f005b;
  font-size: 2.2rem;
  font-weight: bold;
}
.about-section__profil h4 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #8a8a8a;
}
.about-section__profil p {
  color: #8a8a8a;
  font-weight: lighter;
  font-size: 1.1rem;
}
.about-section__profil__button {
  margin-top: 1rem;
  width: 12rem;
  border: 1px solid #8b2367;
  text-align: center;
  padding: 1rem;
  color: #8b2367;
}
.about-section__profil__button:hover {
  text-decoration: none;
  background-color: #8b2367;
  color: #fff;
}
.about-section__title-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.about-section__title-block h2 {
  font-family: "Road Rage";
  font-size: 2.5rem;
  color: #3f005b;
  border-top: 1px solid #3f005b;
  border-bottom: 1px solid #3f005b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* skills */
.skills-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f5f5;
}
.skills-section__title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.skills-section__name {
  margin-bottom: 2rem;
}
.skills-section__name .progress-bar {
  background-color: #8b2367;
}
.skills-section__more {
  border: 1px solid #8b2367;
  font-weight: bold;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

/* PORTFOLIO */
.portfolio-section {
  background-color: #3f005b;
  padding-bottom: 5rem;
  width: 100%;
  min-height: 1000px;
}
.portfolio-section__title-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.portfolio-section__title-block h2 {
  color: #fff;
  font-family: "Road Rage";
  font-size: 2.5rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.portfolio-section__article {
  padding: 2rem;
  margin-bottom: 2rem;
  height: 18rem;
  position: relative;
  border-radius: 3px;
}
.portfolio-section__article img {
  position: absolute;
  border-radius: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  object-fit: cover;
  object-position: top left;
}
.portfolio-section__article .filter-img {
  height: 50%;
  transition: height 0.2s;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  background-color: rgba(63, 0, 91, 0.75);
}
.portfolio-section__article .filter-img h3 {
  color: #fff;
}
.portfolio-section__article .filter-img:hover {
  cursor: pointer;
}
.portfolio-section__article:hover .filter-img {
  visibility: visible;
  height: 100%;
  transition: height 0.2s;
}
.portfolio-section__link {
  border: 0.3px solid #fff;
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
  font-weight: lighter;
}
.portfolio-section__link:hover {
  color: #8b2367;
  background-color: #fff;
  text-decoration: none;
  border-radius: 3px;
}

/* SERVICES */
.service-section {
  width: 100%;
}
.service-section__title-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.service-section__title-block h2 {
  font-family: "Road Rage";
  font-size: 2.5rem;
  color: #3f005b;
  border-top: 1px solid #3f005b;
  border-bottom: 1px solid #3f005b;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.service-section__name {
  max-width: 85%;
}
.service-section__name svg {
  width: 7.5rem;
  height: 7.5rem;
}
.service-section__infos {
  position: relative;
  width: 100%;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.service-section__infos svg {
  fill: #fff;
}
.service-section__description {
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.service-section__banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.service-section__banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #3f005b;
  opacity: 0.8;
}
.service-section__banner img {
  content: "";
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.service-section__step {
  padding-top: 10rem;
  padding-bottom: 10rem;
}
.service-section__step svg {
  fill: #3f005b;
  height: 4rem;
  width: 4rem;
}
.service-section__step-block {
  border: 1px solid #8b2367;
  border-radius: 3px;
  padding: 3rem;
}

/* CONTACT */
.contact-section {
  width: 100%;
  background-color: rgba(63, 0, 91, 0.92);
  color: #fff;
}
.contact-section__title-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact-section__title-block h2 {
  color: #fff;
  font-family: "Road Rage";
  font-size: 2.5rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.contact-section__row {
  padding: 3rem;
  background-color: #3f005b;
  border-radius: 3px;
}
.contact-section__row .form-group {
  padding-bottom: 1.25rem;
}
.contact-section__infos {
  padding-left: 5rem;
}
.contact-section__infos div:nth-child(1n) {
  margin-bottom: 2rem;
}
.contact-section__infos svg {
  height: 1rem;
  width: 1rem;
  fill: #fff;
}
.contact-section__infos span {
  padding-left: 1rem;
}
.contact-section__infos :nth-child(2)::before {
  content: "@";
}
.contact-section .btn-contact {
  background-color: #8b2367;
  color: #fff;
  padding-left: 2rem;
  padding-right: 2rem;
}
.contact-section .btn-contact:hover {
  color: #fff;
  background-color: rgba(139, 35, 103, 0.62);
}

/* FOOTER */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(63, 0, 91, 0.92);
  color: #fff;
}
footer span {
  font-weight: lighter;
  font-size: 0.9rem;
}
footer span::before {
  content: "©";
}

/* RESPONSIVE */
/* Breakpoints 
    576px, 
    768px, 
    992px, 
    1200px 
*/
@media screen and (max-width: 576px) {
  .header-section__main h1 {
    font-size: 2.1rem;
  }
  .header-section__main h2 {
    font-size: 1.6rem;
  }

  .service-section__name {
    margin-bottom: 5rem;
  }

  .contact-section__row {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .header-section__main h1 {
    font-size: 3rem;
  }
  .header-section__main h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .service-section__name {
    max-width: 100%;
  }
  .service-section__name svg {
    width: 4.5rem;
    height: 4.5rem;
  }
  .service-section__description {
    padding-left: 0;
    text-align: center;
  }
  .service-section__step-block {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .contact-section__row div:nth-child(1) {
    padding-top: 2rem;
  }
  .contact-section__infos {
    padding-left: 0;
  }

  .about-section__profil__description {
    margin-top: 2rem;
    text-align: center;
  }
  .about-section__profil__button {
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=main.css.map */
