/* 
  Fjalla fonts 
*/
@font-face {
  font-family: "Fjalla One";
  src: url("../fonts/woff2/fjalla-one-regular.woff2") format("woff2");
}

/* 
  Poppins Fonts 
*/
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("../fonts/woff2/poppins-v9-latin-200.woff2") format("woff2");
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../fonts/woff2/poppins-v9-latin-regular.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../fonts/woff2/poppins-v9-latin-600.woff2") format("woff2");
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("../fonts/woff2/poppins-v9-latin-800.woff2") format("woff2");
}

/* Custom colors */
$black: #222327;
$white: #fff;
$green: #75dab4;
$grey: #8a8a8a;

/* Custom styling */
$border: 0.3px solid;
$borderRadius: 3px;
$paddingTitle: 0.5rem;

/* Font weight */
$Light: 200;
$Regular: 400;
$SemiBold: 600;
$ExtraBold: 800;

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html * {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
/* Navbar class js */
.navbar-shadow {
  background-color: rgba($black, 0.85);
  box-shadow: 2px 1px 1px $grey;
}
.navbar-section {
  .navbar-brand {
    color: $white;
    &:hover {
      color: $green;
    }
  }
  .nav-item {
    margin-left: 1.3rem;
    .nav-link {
      color: $white;
      font-size: 1rem;
    }
    &__underline {
      width: 0%;
      height: 1px;
    }
    &:hover {
      .nav-item__underline {
        width: 100%;
        background-color: $green;
        transition: width 0.25s;
      }
    }
  }
  button {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navbar-toggler {
    &:focus {
      outline: 0 !important;
    }
    &__line {
      width: 1.5rem;
      height: 2px;
      margin-top: 0.2rem;
      margin-bottom: 0.2rem;
      background-color: $white;
      transform: rotate(0deg);
      transition: transform 0.5s;
    }
    &[aria-expanded="true"] {
      .navbar-toggler__line {
        margin: auto;
      }
      span:nth-child(1) {
        transform: rotate(45deg);
        transition: transform 0.5s;
      }
      span:nth-child(2) {
        transform: rotate(-45deg);
        transition: transform 0.5s;
      }
    }
  }
}
.nav-logo {
  font-family: "Fjalla One", sans-serif;
  font-weight: $SemiBold;
}

/* HEADER */
.header-section {
  height: 100vh;
  width: 100%;
  position: relative;

  &__banner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;

    img {
      content: "";
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: $black;
      opacity: 0.85;
    }
  }

  &__main {
    height: 100%;

    h1 {
      font-family: "Poppins";
      color: $white;
      text-align: left;
    }

    h1 {
      font-size: 2.5rem;
      font-weight: $ExtraBold;
    }
    div {
      :first-child {
        font-size: 2rem;
        font-weight: $SemiBold;
      }
    }
  }
}

/* ABOUT */
.about-section {
  padding-bottom: 10rem;
  padding-top: 10rem;
  background-color: $black;
  &__profil {
    &__img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
        position: relative;

        object-fit: contain;
      }
      :nth-child(1) {
        display: none;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.3;
      }
    }
    h3 {
      margin-top: 0;
      color: $green;
      font-weight: $ExtraBold;
    }
    h4 {
      padding-bottom: 0.5rem;
      color: $white;
      font-size: 1.5rem;
      font-weight: $SemiBold;
    }
    p {
      margin-top: 1rem;
      color: $white;
      font-weight: $Regular;
      font-size: 1.2rem;
    }
    &__button {
      width: 15rem;
      border: $border $green;
      text-align: center;
      padding: 1rem;
      color: $white;
      &:hover {
        text-decoration: none;
        background-color: $green;
        color: $white;
      }
    }
    &__bottom {
      margin-top: 2.5rem;
      svg {
        height: 2.5rem;
        width: 2.5rem;
        fill: $green;
        &:hover {
          fill: $white;
          cursor: pointer;
        }
      }
    }
  }
}
/* skills */
.skills-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f5f5;
  &__title {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  &__container {
    margin-bottom: 1.75rem;
    &__name {
      font-weight: $Light;
      .skill-number {
        color: $grey;
      }
    }
    .skill-underline {
      background-color: $green;
      height: 2px;
    }
  }

  &__more {
    border: 1px solid $green;
    font-weight: $Regular;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    color: $grey;
    &:hover {
      background-color: $green;
      color: $white;
    }
  }
}

/* PORTFOLIO */
.portfolio-section {
  background-color: $black;
  padding-bottom: 5rem;
  width: 100%;
  min-height: 1000px;

  &__title-block {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      color: $white;
      font-family: "Fjalla one", sans-serif;
      font-size: 2.5rem;
      padding-top: $paddingTitle;
      padding-bottom: $paddingTitle;
    }
  }
  &__article {
    height: 18rem;
    position: relative;
    border-radius: $borderRadius;
    img {
      position: absolute;
      border-radius: $borderRadius;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      content: "";
      object-fit: cover;
      object-position: top left;
    }
    .filter-img {
      height: 50%;
      transition: height 0.2s;
      visibility: hidden;
      position: absolute;
      left: 0;
      bottom: 0;
      color: $white;
      width: 100%;
      background-color: $black;
      opacity: 0.85;
    }
    &:hover {
      .filter-img {
        visibility: visible;
        height: 100%;
        transition: height 0.2s;
      }
    }
  }
  &__link {
    margin-top: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: $white;
    svg {
      fill: $white;
      height: 4rem;
      width: 4rem;
      &:hover {
        cursor: pointer;
        fill: $green;
      }
    }
  }
  &__description {
    padding-top: 1rem;
    margin-bottom: 5rem;
    :nth-child(1n) {
      color: $white;
    }
    :first-child {
      font-weight: $Light;
    }
    :last-child {
      font-weight: $Light;
    }
  }
}

/* SERVICES */
.service-section {
  width: 100%;

  &__title-block {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      font-family: "Fjalla one", sans-serif;
      font-size: 2.5rem;
      color: $black;
    }
  }
  &__name {
    min-height: 10rem;
    max-width: 85%;
    padding: 0.5rem;
    svg {
      min-width: 3rem;
      max-width: 3rem;
      height: auto;
    }
  }
  &__infos {
    position: relative;
    width: 100%;
    color: $white;
    svg {
      fill: $black;
    }
  }
  &__description {
    padding-left: 2rem;
    h4 {
      color: $black;
      font-weight: $SemiBold;
      font-size: 1.5rem;
    }
    p {
      color: $grey;
      font-weight: $Light;
      font-size: 1.2rem;
      padding-top: 0.3rem;
    }
  }
  &__extras {
    width: 100%;
    position: relative;
    color: $white;
    margin-top: 5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;

    &__img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.83;
      }
    }
    h2 {
      font-size: 2.75rem;
      font-weight: $SemiBold;
    }
    &__list {
      padding-left: 0;

      li {
        list-style: none;
        .extras-description {
          font-weight: $Regular;
          font-size: 1.2rem;

          display: inline-block;
          border-bottom: 1px solid $green;
          padding-bottom: 0.5em;
        }
      }
      li:nth-child(1n + 2) {
        margin-top: 2rem;
      }
    }
  }
}

/* CONTACT */
.contact-section {
  width: 100%;
  background-color: $black;
  color: $white;
  padding-bottom: 5rem;

  &__title-block {
    padding-top: 5rem;
    padding-bottom: 5rem;

    h2 {
      color: $white;
      font-family: "Fjalla one", sans-serif;
      font-size: 2.5rem;
    }
  }
  &__row {
    border-radius: $borderRadius;
    label {
      display: none !important;
    }
  }
  &__form {
    .form-group {
      padding-bottom: 1.5rem;
    }
    input,
    textarea {
      border: 0;
      background-color: rgba(255, 255, 255, 0.1);
      font-weight: $Light;
      color: $green;
      &:focus {
        background-color: rgba(255, 255, 255, 0.1);
        color: $white;
      }
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $grey;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: $grey;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: $grey;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: $grey;
      }
    }
  }
  &__infos {
    div:nth-child(1n) {
      margin-bottom: 2rem;
    }
    span {
      padding-left: 1rem;
    }
    div > span:nth-child(1) {
      font-weight: $Light;
      color: $grey;
    }
    div > span:nth-child(2) {
      font-weight: $Regular;
    }
  }
  .btn-contact {
    color: $white;
    padding: 1rem;
    border: 1px solid $green;
    border-radius: 0;
    min-width: 9rem;
    font-weight: $Light;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }
}

/* FOOTER */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $black;
  color: $white;
  span {
    font-weight: lighter;
    font-size: 0.9rem;
    &::before {
      content: "\0000A9";
    }
  }
  .links-footer {
    margin-left: 5rem;
    a {
      svg {
        fill: $white;
        width: 1.8rem;
        height: 1.8rem;
      }
      &:hover {
        svg {
          fill: $green;
        }
      }
    }
    a:nth-child(2) {
      margin-left: 1.5rem;
    }
  }
}

/* RESPONSIVE */
/* Breakpoints 
    576px, 
    768px, 
    992px, 
    1200px 
*/
@media screen and (max-width: 576px) {
  .service-section {
    &__name {
      margin-bottom: 5rem;
    }
  }
  .contact-section {
    &__row {
      padding-left: 0;
      padding-right: 0;
    }
  }
  footer {
    .links-footer {
      margin-top: 2rem;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .header-section {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  .service-section {
    &__infos {
      .container {
        .row:nth-child(1n) {
          padding-bottom: 3rem;
        }
      }
    }
  }
  .about-section {
    &__profil {
      &__img {
        :nth-child(1) {
          display: block;
        }
        :nth-child(2) {
          display: none;
        }
      }
      .svg-about {
        a {
          margin-left: 2rem;
        }
      }
    }
  }
  .skills-section {
    &__container {
      padding-right: 2.5rem;
    }
  }
}

@media screen and (max-width: 767px) {
  #navbar {
    background-color: rgba($black, 0.85);
    box-shadow: 2px 1px 1px $grey;
  }
  .navbar-section {
    .nav-item {
      margin-left: 0;
      margin-top: 0.5rem;
      &__underline {
        display: none;
      }
      .nav-link {
        font-size: 1.5rem;
        font-weight: $SemiBold;
      }
      &:hover {
        .nav-link {
          color: $green;
        }
      }
    }
    .nav-logo {
      font-size: 1.5rem;
    }
  }
  .contact-section {
    &__row {
      div:nth-child(1) {
        padding-top: 2rem;
      }
    }
    &__infos {
      padding-left: 0;
    }
  }
  .about-section {
    &__profil {
      &__description {
        margin-top: 2rem;
        text-align: center;
      }
      &__button {
        margin-left: auto;
        margin-right: auto;
      }
      &__img {
        max-height: 11rem;
      }
      .svg-about {
        margin-top: 1rem;
        a {
          padding: 1rem;
        }
      }
    }
  }
  .skills-section {
    &__more-container {
      margin-top: 2.5rem;
    }
  }
  .service-section {
    &__name {
      max-width: 100%;
      svg {
        width: 4.5rem;
        height: 4.5rem;
      }
    }
    &__description {
      padding-left: 0;
      text-align: center;
    }
    &__extras {
      &__list {
        margin-top: 5rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .about-section {
    &__profil {
      &__img {
        max-width: 80%;
        height: 100%;
        img {
          max-width: 80%;
          height: auto;
        }
      }
      h3 {
        font-size: 2.5rem;
      }
    }
  }
  .service-section {
    &__extras {
      &__list {
        padding-left: 5rem;
      }
      h2 {
        font-size: 3.5rem;
      }
    }
  }
}
