@charset "UTF-8";
/* 
  Fjalla fonts 
*/
@font-face {
  font-family: "Fjalla One";
  src: url("../fonts/woff2/fjalla-one-regular.woff2") format("woff2");
}
/* 
  Poppins Fonts 
*/
/* poppins-200 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"), url("../fonts/woff2/poppins-v9-latin-200.woff2") format("woff2");
}
/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/woff2/poppins-v9-latin-regular.woff2") format("woff2");
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/woff2/poppins-v9-latin-600.woff2") format("woff2");
}
/* poppins-800 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/woff2/poppins-v9-latin-800.woff2") format("woff2");
}
/* Custom colors */
/* Custom styling */
/* Font weight */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html * {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
/* Navbar class js */
.navbar-shadow {
  background-color: rgba(34, 35, 39, 0.85);
  box-shadow: 2px 1px 1px #8a8a8a;
}

.navbar-section .navbar-brand {
  color: #fff;
}
.navbar-section .navbar-brand:hover {
  color: #75dab4;
}
.navbar-section .nav-item {
  margin-left: 1.3rem;
}
.navbar-section .nav-item .nav-link {
  color: #fff;
  font-size: 1rem;
}
.navbar-section .nav-item__underline {
  width: 0%;
  height: 1px;
}
.navbar-section .nav-item:hover .nav-item__underline {
  width: 100%;
  background-color: #75dab4;
  transition: width 0.25s;
}
.navbar-section button {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-section .navbar-toggler:focus {
  outline: 0 !important;
}
.navbar-section .navbar-toggler__line {
  width: 1.5rem;
  height: 2px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background-color: #fff;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.navbar-section .navbar-toggler[aria-expanded=true] .navbar-toggler__line {
  margin: auto;
}
.navbar-section .navbar-toggler[aria-expanded=true] span:nth-child(1) {
  transform: rotate(45deg);
  transition: transform 0.5s;
}
.navbar-section .navbar-toggler[aria-expanded=true] span:nth-child(2) {
  transform: rotate(-45deg);
  transition: transform 0.5s;
}

.nav-logo {
  font-family: "Fjalla One", sans-serif;
  font-weight: 600;
}

/* HEADER */
.header-section {
  height: 100vh;
  width: 100%;
  position: relative;
}
.header-section__banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.header-section__banner img {
  content: "";
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.header-section__banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #222327;
  opacity: 0.85;
}
.header-section__main {
  height: 100%;
}
.header-section__main h1 {
  font-family: "Poppins";
  color: #fff;
  text-align: left;
}
.header-section__main h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
.header-section__main div :first-child {
  font-size: 2rem;
  font-weight: 600;
}

/* ABOUT */
.about-section {
  padding-bottom: 10rem;
  padding-top: 10rem;
  background-color: #222327;
}
.about-section__profil__img {
  width: 100%;
  height: 100%;
}
.about-section__profil__img img {
  width: 100%;
  height: auto;
  position: relative;
  object-fit: contain;
}
.about-section__profil__img :nth-child(1) {
  display: none;
}
.about-section__profil__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222327;
  opacity: 0.3;
}
.about-section__profil h3 {
  margin-top: 0;
  color: #75dab4;
  font-weight: 800;
}
.about-section__profil h4 {
  padding-bottom: 0.5rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}
.about-section__profil p {
  margin-top: 1rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
}
.about-section__profil__button {
  width: 15rem;
  border: 0.3px solid #75dab4;
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.about-section__profil__button:hover {
  text-decoration: none;
  background-color: #75dab4;
  color: #fff;
}
.about-section__profil__bottom {
  margin-top: 2.5rem;
}
.about-section__profil__bottom svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #75dab4;
}
.about-section__profil__bottom svg:hover {
  fill: #fff;
  cursor: pointer;
}

/* skills */
.skills-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f5f5;
}
.skills-section__title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.skills-section__container {
  margin-bottom: 1.75rem;
}
.skills-section__container__name {
  font-weight: 200;
}
.skills-section__container__name .skill-number {
  color: #8a8a8a;
}
.skills-section__container .skill-underline {
  background-color: #75dab4;
  height: 2px;
}
.skills-section__more {
  border: 1px solid #75dab4;
  font-weight: 400;
  padding: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: #8a8a8a;
}
.skills-section__more:hover {
  background-color: #75dab4;
  color: #fff;
}

/* PORTFOLIO */
.portfolio-section {
  background-color: #222327;
  padding-bottom: 5rem;
  width: 100%;
  min-height: 1000px;
}
.portfolio-section__title-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.portfolio-section__title-block h2 {
  color: #fff;
  font-family: "Fjalla one", sans-serif;
  font-size: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.portfolio-section__article {
  height: 18rem;
  position: relative;
  border-radius: 3px;
}
.portfolio-section__article img {
  position: absolute;
  border-radius: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  content: "";
  object-fit: cover;
  object-position: top left;
}
.portfolio-section__article .filter-img {
  height: 50%;
  transition: height 0.2s;
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  background-color: #222327;
  opacity: 0.85;
}
.portfolio-section__article:hover .filter-img {
  visibility: visible;
  height: 100%;
  transition: height 0.2s;
}
.portfolio-section__link {
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: #fff;
}
.portfolio-section__link svg {
  fill: #fff;
  height: 4rem;
  width: 4rem;
}
.portfolio-section__link svg:hover {
  cursor: pointer;
  fill: #75dab4;
}
.portfolio-section__description {
  padding-top: 1rem;
  margin-bottom: 5rem;
}
.portfolio-section__description :nth-child(1n) {
  color: #fff;
}
.portfolio-section__description :first-child {
  font-weight: 200;
}
.portfolio-section__description :last-child {
  font-weight: 200;
}

/* SERVICES */
.service-section {
  width: 100%;
}
.service-section__title-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.service-section__title-block h2 {
  font-family: "Fjalla one", sans-serif;
  font-size: 2.5rem;
  color: #222327;
}
.service-section__name {
  min-height: 10rem;
  max-width: 85%;
  padding: 0.5rem;
}
.service-section__name svg {
  min-width: 3rem;
  max-width: 3rem;
  height: auto;
}
.service-section__infos {
  position: relative;
  width: 100%;
  color: #fff;
}
.service-section__infos svg {
  fill: #222327;
}
.service-section__description {
  padding-left: 2rem;
}
.service-section__description h4 {
  color: #222327;
  font-weight: 600;
  font-size: 1.5rem;
}
.service-section__description p {
  color: #8a8a8a;
  font-weight: 200;
  font-size: 1.2rem;
  padding-top: 0.3rem;
}
.service-section__extras {
  width: 100%;
  position: relative;
  color: #fff;
  margin-top: 5rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.service-section__extras__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.service-section__extras__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  z-index: -1;
}
.service-section__extras__img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222327;
  opacity: 0.83;
}
.service-section__extras h2 {
  font-size: 2.75rem;
  font-weight: 600;
}
.service-section__extras__list {
  padding-left: 0;
}
.service-section__extras__list li {
  list-style: none;
}
.service-section__extras__list li .extras-description {
  font-weight: 400;
  font-size: 1.2rem;
  display: inline-block;
  border-bottom: 1px solid #75dab4;
  padding-bottom: 0.5em;
}
.service-section__extras__list li:nth-child(1n+2) {
  margin-top: 2rem;
}

/* CONTACT */
.contact-section {
  width: 100%;
  background-color: #222327;
  color: #fff;
  padding-bottom: 5rem;
}
.contact-section__title-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact-section__title-block h2 {
  color: #fff;
  font-family: "Fjalla one", sans-serif;
  font-size: 2.5rem;
}
.contact-section__row {
  border-radius: 3px;
}
.contact-section__row label {
  display: none !important;
}
.contact-section__form .form-group {
  padding-bottom: 1.5rem;
}
.contact-section__form input,
.contact-section__form textarea {
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
  font-weight: 200;
  color: #75dab4;
}
.contact-section__form input:focus,
.contact-section__form textarea:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.contact-section__form input::-webkit-input-placeholder,
.contact-section__form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8a8a8a;
}
.contact-section__form input::-moz-placeholder,
.contact-section__form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #8a8a8a;
}
.contact-section__form input:-ms-input-placeholder,
.contact-section__form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #8a8a8a;
}
.contact-section__form input:-moz-placeholder,
.contact-section__form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #8a8a8a;
}
.contact-section__infos div:nth-child(1n) {
  margin-bottom: 2rem;
}
.contact-section__infos span {
  padding-left: 1rem;
}
.contact-section__infos div > span:nth-child(1) {
  font-weight: 200;
  color: #8a8a8a;
}
.contact-section__infos div > span:nth-child(2) {
  font-weight: 400;
}
.contact-section .btn-contact {
  color: #fff;
  padding: 1rem;
  border: 1px solid #75dab4;
  border-radius: 0;
  min-width: 9rem;
  font-weight: 200;
}
.contact-section .btn-contact:hover {
  color: #fff;
  background-color: #75dab4;
}

/* FOOTER */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #222327;
  color: #fff;
}
footer span {
  font-weight: lighter;
  font-size: 0.9rem;
}
footer span::before {
  content: "©";
}
footer .links-footer {
  margin-left: 5rem;
}
footer .links-footer a svg {
  fill: #fff;
  width: 1.8rem;
  height: 1.8rem;
}
footer .links-footer a:hover svg {
  fill: #75dab4;
}
footer .links-footer a:nth-child(2) {
  margin-left: 1.5rem;
}

/* RESPONSIVE */
/* Breakpoints 
    576px, 
    768px, 
    992px, 
    1200px 
*/
@media screen and (max-width: 576px) {
  .service-section__name {
    margin-bottom: 5rem;
  }

  .contact-section__row {
    padding-left: 0;
    padding-right: 0;
  }

  footer .links-footer {
    margin-top: 2rem;
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) {
  .header-section h1 {
    font-size: 4rem;
  }
  .header-section h2 {
    font-size: 2rem;
  }

  .service-section__infos .container .row:nth-child(1n) {
    padding-bottom: 3rem;
  }

  .about-section__profil__img :nth-child(1) {
    display: block;
  }
  .about-section__profil__img :nth-child(2) {
    display: none;
  }
  .about-section__profil .svg-about a {
    margin-left: 2rem;
  }

  .skills-section__container {
    padding-right: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  #navbar {
    background-color: rgba(34, 35, 39, 0.85);
    box-shadow: 2px 1px 1px #8a8a8a;
  }

  .navbar-section .nav-item {
    margin-left: 0;
    margin-top: 0.5rem;
  }
  .navbar-section .nav-item__underline {
    display: none;
  }
  .navbar-section .nav-item .nav-link {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .navbar-section .nav-item:hover .nav-link {
    color: #75dab4;
  }
  .navbar-section .nav-logo {
    font-size: 1.5rem;
  }

  .contact-section__row div:nth-child(1) {
    padding-top: 2rem;
  }
  .contact-section__infos {
    padding-left: 0;
  }

  .about-section__profil__description {
    margin-top: 2rem;
    text-align: center;
  }
  .about-section__profil__button {
    margin-left: auto;
    margin-right: auto;
  }
  .about-section__profil__img {
    max-height: 11rem;
  }
  .about-section__profil .svg-about {
    margin-top: 1rem;
  }
  .about-section__profil .svg-about a {
    padding: 1rem;
  }

  .skills-section__more-container {
    margin-top: 2.5rem;
  }

  .service-section__name {
    max-width: 100%;
  }
  .service-section__name svg {
    width: 4.5rem;
    height: 4.5rem;
  }
  .service-section__description {
    padding-left: 0;
    text-align: center;
  }
  .service-section__extras__list {
    margin-top: 5rem;
  }
}
@media screen and (min-width: 992px) {
  .about-section__profil__img {
    max-width: 80%;
    height: 100%;
  }
  .about-section__profil__img img {
    max-width: 80%;
    height: auto;
  }
  .about-section__profil h3 {
    font-size: 2.5rem;
  }

  .service-section__extras__list {
    padding-left: 5rem;
  }
  .service-section__extras h2 {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
